/*
[Table of contents]

0.0 Common CSS START 
1.0 HEADER AREA START 
2.0 BANNER AREA START
3.0 GAMES AREA START
4.0 ABOUT AREA START
14.0 FOOTER AREA START
15.0 COPY_RIGHT AREA START
 
/*===========================
0.0 *** Common CSS START ***
=============================*/

#darkmode {
    background-color: #141414;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    overflow-x: hidden !important;
}

ul, ol {
    list-style-type: none;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

img {
    overflow: hidden;
    border: 0;
    vertical-align: middle;
}

.zindex {
    position: relative;
    z-index: 999;
}

.clr {
    clear: both;
}

.vbox-overlay {
    z-index: 999999;
}

.lightboxOverlay {
    z-index: 999999;
}

.lightbox {
    z-index: 9999999;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

p {
    line-height: 27px;
}

@font-face {
    src: url(../fonts/BarlowCondensed-Bold.ttf);
    font-family: bb;
}

@font-face {
    src: url(../fonts/BarlowCondensed-Regular.ttf);
    font-family: br;
}

@font-face {
    src: url(../fonts/archivo/Archivo-Bold.ttf);
    font-family: Archivo;
}

@font-face {
    src: url(../fonts/archivo/Archivo-ExtraLight.ttf);
    font-family: Archivo-ExtraLight;
}

@font-face {
    src: url(../fonts/barlow/Barlow-Black.ttf);
    font-family: barlow-black;
}

@font-face {
    src: url(../fonts/barlow/Barlow-MediumItalic.ttf);
    font-family: barlow-mitalic;
}

@font-face {
    src: url(../fonts/barlow/Barlow-Regular.ttf);
    font-family: barlow-medium;
}

/*===========================
2.0 *** BANNER AREA START ***
=============================*/
#banner {
    padding: 50px 0 10px;
    background: #191919;
    overflow-y: hidden;
    position: relative;

}

.banner-title {
    padding-bottom: 40px;
}

.backtotop {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 9999;
    display: none;
}

.backtotop i {
    color: #fff;
    text-align: center;
    font-size: 21px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    background: rgba(29, 29, 29, 0.5);
    border-radius: 50%;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;

}

.backtotop:hover {
    cursor: pointer;
}

.backtotop:hover i {
    background: #7289da;
    color: white;
}

.banner-item {
    padding-bottom: 15px;
}

.banner-txt h3 {
    font-family: barlow-black;
    font-size: 60px;
    -webkit-text-stroke-color: #7289da;
    -webkit-text-fill-color: #FFF;
    line-height: 0.9;
    text-transform: uppercase;
}

.banner-txt p {
    font-family: br;
    font-size: 19px;
    color: #BFC0C4;
    padding: 2px 40px 2px 0;
    padding-left: 15px;
    border-left: 2px solid#BFC0C4;
    margin-left: 3px;
}

.banner-img {
    padding: 25px 0 50px;
}

/*===========================
3.0 *** GAMES AREA START ***
=============================*/
#games {
    padding: 25px 0;
    background-color: #171717;
    position:relative ;
    background-position: -50px -50px;
}

.game-line {
    position: relative;
    background-position: -50px -50px;
}

.game-line:after {
    position: absolute;
    content: '';
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #191919;
}

.gl-one {
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 20px;
    height: 2px;
    background: rgba(114, 137, 218, 0.5);
    -webkit-animation: lineshine 7s infinite alternate;
    animation: lineshine 7s infinite alternate;
    z-index: 1;
}

.prev {
    cursor: pointer;
}

.next {
    cursor: pointer;
}

.gl-two {
    position: absolute;
    bottom: -26px;
    right: 0;
    width: 20px;
    height: 2px;
    background: rgba(114, 137, 218, 0.5);
    -webkit-animation: lineshine2 7s infinite alternate;
    animation: lineshine2 7s infinite alternate;
    z-index: 1;
}

@-webkit-keyframes lineshine {
    form {
        left: 0;
    }

    to {
        left: 95%;
    }
}

@-webkit-keyframes lineshine2 {
    form {
        right: 0;
    }

    to {
        right: 95%;
    }
}

.game-pa {
    padding-top: 10px;
}

.game-item a {
    padding: 10px 0 0px;
    font-size: 25px;
    font-family: bb;
    color: white;
    display: block;
}

.game-item i {
    margin: 0 2px;
    color: #fbaa33;
    font-size: 14px;
}

.game-box span {
    font-size: 19px;
    font-family: br;
    color: #7289da;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.game-box h3 {
    font-size: 38px;
    font-family: barlow-black;
    color: white;
    text-transform: uppercase;
    padding: 0px 0 18px;
}

.game-box h3::before {
    position: absolute;
    width: 23px;
    height: 2px;
    background: none;
    border: 1px solid #7289da;
    margin-top: 46px;
    content: ' ';
}

.game-box p {
    font-family: br;
    font-size: 19px;
    color: #c5c5c5;
    padding-bottom: 48px;
    padding-right: 15px;
}

.game-box {
    /* display: none; */
}

.badges {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.game-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 350px;
    padding-top: 25px;
}

.game-img .lightbox-overlay-default {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.5);
    left: 0;
    top: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all fadeIn .3s;
    -o-transition: all fadeIn .3s;
    transition: all fadeIn .3s;
}

.game-img .lightbox-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.6);
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.game-img .lightbox-overlay:hover {
    opacity: 1;
}

.lightbox-overlay a {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightbox-overlay a i {
    font-size: 25px;
    color: white;
}

.game-img:hover .lightbox-overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.social-box {
    padding: 40px 0;
    background: #191919;
}


/*===========================
4.0 *** ABOUT AREA START ***
=============================*/
#about {
    padding: 70px 0;
    position: relative;
}

.heading h3 {
    font-size: 110px;
    font-family: bb;
    color: white;
    -webkit-text-stroke-color: #7289da;
    -webkit-text-fill-color: #FFF;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 0 #7289da;
    position: relative;
    padding-bottom: 8px;
}

.heading h3::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background: none;
    border: 3px solid #7289da;
}

.about-pt {
    padding-top: 30px;
}

.about-txt {
    padding-left: 50px;
}

.about-txt span {
    font-size: 19px;
    font-family: br;
    color: #7289da;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.about-txt h3 {
    font-size: 38px;
    font-family: bb;
    color: white;
    text-transform: uppercase;
    padding: 5px 0 25px;
    line-height: 52px;
}

.about-txt h3 b {
    color: #7289da;
}

.about-txt p {
    font-family: br;
    font-size: 19px;
    color: #787878;
    padding-bottom: 35px;
    padding-right: 75px;
}

.about-img {
    position: relative;
}

.about-img img {
    -webkit-clip-path: polygon(0 0, 89% 0, 100% 10%, 100% 100%, 9% 100%, 0 92%);
    clip-path: polygon(0 0, 89% 0, 100% 10%, 100% 100%, 9% 100%, 0 92%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.about-img:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.about-img::after {
    position: absolute;
    content: '';
    width: 3px;
    height: 225px;
    background: #7289da;
    left: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}

.about-txt-overlay {
    background: #7289da;
    width: 150px;
    height: 150px;
    padding: 7px 0;
    position: absolute;
    bottom: 0;
    right: 16px;
    text-align: center;
    z-index: 1;
}

.about-txt-overlay h3 {
    font-size: 80px;
    font-family: bb;
    color: white;
}

.about-txt-overlay span {
    font-family: br;
    color: white;
}

/*===========================
14.0 *** FOOTER AREA START ***
=============================*/
#footer {
    padding: 80px 0;
    background: #191919;
}

.footer-logo a {
    font-size: 34px;
    font-family: bb;
    color: white;
    letter-spacing: 1px;
    text-transform:uppercase;
}

.footer-logo a b {
    color: #7289da;
}

.footer-logo p {
    font-family: br;
    font-size: 17px;
    color: #787878;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 20px;
}

.footer-menu h3 {
    font-size: 24px;
    font-family: bb;
    color: white;
    padding-top: 12px;
    padding-bottom: 8px;
}

.footer-menu a {
    display: block;
    font-size: 19px;
    font-family: br;
    color: #787878;
    margin-top: 15px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.footer-menu a:hover {
    padding-left: 4px;
    color: #7289da;
}

.footer-social a i {
    font-size: 16px;
    color: white;
    background: #262525;
    width: 45px;
    height: 45px;
    line-height: 46px;
    margin-right: 16px;
    border-radius: 50%;
    text-align: center;
    padding-left: 8px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}

.footer-social a i:hover {
    background: #7289da;
}

/*===========================
15.0 *** COPY_RIGHT AREA START ***
=============================*/
#copy_right {
    padding: 25px 0;
    background: #191919;
    position: relative;
}

#copy_right::after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background: #242424;
}

.copy-right-txt p {
    font-family: br;
    color: #787878;
    font-size: 18px;
}

.copy-right-txt p a {
    padding-left: 2px;
    font-family: br;
    color: white;
}

.onloading{
    overflow: hidden;
}


.elements-nav li {
    -webkit-animation: dude .35s 1 forwards;
    -moz-animation: dude .35s 1 forwards;
    -o-animation: dude .35s 1 forwards;
    animation: dude .35s 1 linear;

    white-space: nowrap;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: both;
}

@-webkit-keyframes dude {
    0% {
        width: 0;
        opacity: 0;
        transform: scale(.1);
      }
  
      40% {
          opacity: .4;
      }
  
      85% {
        opacity: 0.7;
        transform: scale(1.05);
      }
  
      100% {
        opacity: 1.0;
        width: 100%;
        transform: scale(1);
      }
}

@-moz-keyframes dude {
    0% {
        width: 0;
        opacity: 0;
        transform: scale(.1);
      }
  
      40% {
          opacity: .4;
      }
  
      85% {
        opacity: 0.7;
        transform: scale(1.05);
      }
  
      100% {
        opacity: 1.0;
        width: 100%;
        transform: scale(1);
      }
}

@-o-keyframes dude {
    0% {
        width: 0;
        opacity: 0;
        transform: scale(.1);
      }
  
      40% {
          opacity: .4;
      }
  
      85% {
        opacity: 0.7;
        transform: scale(1.05);
      }
  
      100% {
        opacity: 1.0;
        width: 100%;
        transform: scale(1);
      }
}

@keyframes dude {
    0% {
      width: 0;
      opacity: 0;
      transform: scale(.1);
    }

    40% {
        opacity: .4;
    }

    85% {
      opacity: 0.7;
      transform: scale(1.05);
    }

    100% {
      opacity: 1.0;
      width: 100%;
      transform: scale(1);
    }
}

@keyframes scrollLeft{
    to{
        -webkit-transform:translateX( 50% );
        transform:translateX( 50% );
    }
}

@keyframes scrollRight{
    to{
        -webkit-transform:translateX( -50% );
        transform:translateX( -50% );
    }
}

body.modal-open {
    overflow: hidden !important;
}

.elements-nav li:nth-child(1) { animation-delay: .3s }
.elements-nav li:nth-child(2) { animation-delay: .33s }
.elements-nav li:nth-child(3) { animation-delay: .35s }
.elements-nav li:nth-child(4) { animation-delay: .37s }
.elements-nav li:nth-child(5) { animation-delay: .39s }

.loader-spinner,
.loader-spinner:before,
.loader-spinner:after {
  background: #7289da;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader-spinner {
  color: #7289da;
  text-indent: -9999em;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loader-spinner:before,
.loader-spinner:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader-spinner:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader-spinner:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.lead {
    font-family: barlow-mitalic, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.15rem;
    font-weight: 600;
    font-style: bb;
    letter-spacing: 0px;
    line-height: 1.35;
    text-transform: uppercase;
    color: #7289da;
}

.lead {
    -webkit-font-smoothing: antialiased;
}

.arrow-prev {
    top: 35%; 
    position: absolute;
    color: white;
    margin-left: -40px;
    font-size: 35px;
    opacity: 0.7;
    display: none;
}

.arrow-next {
    top: 35%;
    position: absolute;
    color: white;
    right: 0;
    margin-right: -30px;
    font-size: 35px;
    opacity: 0.7;
    display: none;
}

.arrow-prev:hover{
    opacity: 1.0;
}

.arrow-next:hover{
    opacity: 1.0;
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

.carousel-control-prev { left: -110px; border-bottom: 0; }
.carousel-control-next { right: -110px; border-bottom: 0; }
.carousel-indicators { bottom: -50px; }
.carousel-indicators li { width: 9px; height: 9px; margin-left: 5px; margin-right: 5px; border-radius: 50%; }

.guildContainer {
    margin-left: -18px; /* -24px; */
    margin-right: -20px;  /* -24px; */
}

.container-partners {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 343px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 16px;
    border-radius: 12px;
    background: #383838;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: initial;
}

.icon-verified {
    content: url( '../images/verified.svg' );
    width: 16px;
    filter: invert(64%) sepia(85%) saturate(4107%) hue-rotate(184deg) brightness(90%) contrast(92%);
    top: 3px;
    position: relative;
}

.container-partners:hover {
    cursor:pointer;
}

.textContainer {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.name-partner {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #efefef;
}

.category {
    font-size: 14px;
    line-height: 18px;
    color: #7e7e7e;
}

.icon-partner {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 50%;
}

@-webkit-keyframes scrollLeft{
    to{
        -webkit-transform:translateX(50%);
        transform:translateX(50%)
    }
}

@keyframes scrollLeft{
    to{
        -webkit-transform:translateX(50%);
        transform:translateX(50%)
    }
}

@-webkit-keyframes scrollRight{
    to{
        -webkit-transform:translateX(-50%);
        transform:translateX(-50%)
    }
}

@keyframes scrollRight{
    to{
        -webkit-transform:translateX(-50%);
        transform:translateX(-50%)
    }
}

.scrollLeft,.scrollRight{
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}

.scrollLeft{
    float:right;
    -webkit-animation-name:scrollLeft;
    animation-name:scrollLeft;
}

.scrollRight{
    float:left;
    -webkit-animation-name:scrollRight;
    animation-name:scrollRight;
}

.rowWrapper{
    margin:auto;
    position:relative;
    overflow:hidden;
}

.rowScroller{
    white-space:nowrap;
}

.paused{
    -webkit-animation-play-state:paused;
    animation-play-state:paused;
}
